

:root {
  --azul-pastel: #a3c9e2;
  --rosa-pastel: #f6c1c7;
  --azul-pastel: #a3c9e2;
  --azul-pastel:#a3c9e2;
  --blanco: #ffffff;
  --texto: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9c1b1;
  color: var(--texto);
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #a3c9e2;
  color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}

.hero {
  padding: 5rem 2rem;
  text-align: center;
  background: var(--rosa-pastel);
  color: #000;
}

.btn {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background:var(--azul-pastel);
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.portfolio, .testimonios, .contacto {
  padding: 4rem 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.item {
  background:var(--azul-pastel);
  color: #000;
  padding: 2rem;
  border-radius: 10px;
}

blockquote {
  font-size: 1.2rem;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 2rem auto;
  gap: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
}

button {
  background: var(--azul-pastel);
  border: none;
  padding: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: var(--azul-pastel);
  color: #000;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

